*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    color: black;
    box-sizing: 1.6;
    line-height: 1.6;
    font-family: sans-serif;
}
:root{
    --color-bg:#2c2822;
    --color-btn:#dfae67;
    --color-text:#a9a7a5; 
}
body{
    background-color: var(--color-bg);
    position: relative;
    overflow-x: hidden;
}
